*
{
    padding:0;
    margin:0;
}
:root{
    --heading-color:#250AD7;
    --anchor-background:#4418D5;
    --background-color:#E3DFDF;
}
.heroImage
{
    background-color: var(--background-color);
}
h1{
    text-transform: uppercase;
    color:var(--heading-color);
    padding-bottom:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.heroImage-content
{
    display: inline-block;
    margin-left:70px;
    vertical-align: middle;
}

.heroImage-container
{
    display:inline-block;
    vertical-align: middle;
    margin:25px;
}
.heroImage-content ul{
    list-style-type: none;
    list-style-image: url('https://www.w3schools.com/cssref/sqpurple.gif');
    margin-left:15px;
    margin-bottom:25px;
}
.heroImage-content ul li{
    padding:2px;
}

.heroImage-content > a{
    background-color: #4418D5;
    border-radius: 20px;
    color: white;
    padding:10px;
    text-decoration: none;
}
 a :hover{
    background-color: red;
   
}
